# Copy this file to .env (which is git-ignored) and adjust as needed.
# This will ensure that you do not commit sensitive information to version control.
# This URL points to the local PostgreSQL container started via docker-compose.

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=learning_journal

DATABASE_URL=postgresql://postgres:postgres@postgres:5432/learning_journal